<!DOCTYPE html>
<html lang="en, pl">

<head>
  <meta charset="UTF-8">
  <title>Summer school</title>
  {%load static%}
  <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "style1.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "style2.css" %}'>
</head>

<body>

<header>
  <a href='/'><img src='{% static "logo.jpg" %}' alt="logo"></a>
  <h1>Summer school</h1>
  <br>

<nav>
  <div class="button-row">
    <a href='programs'><button class="shitbitchdie">Programs</button></a>
    <a href='py'><button class="shitbitchdie">Previous</button></a>
    <a href='info'><button class="shitbitchdie">Information</button></a>
    <a href='https://p.lodz.pl/'><button class="shitbitchdie">University</button></a>
    <a href='other'><button class="shitbitchdie">Other</button></a>
  </div>
</nav>

  <div class="button">
    <a href='jp'><button class="shitbitchdie">EN/PL</button></a>
  </div>

  <div class="enter">
    <a href='login'><button class="shitbitchdie">Submit</button></a>
  </div>
</header>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="slideshow-container">

  <div class="slide active">
    <a href='{% static "Info.html" %}'><img src='{% static "photo1.jpg" %}' class="p1" alt="shit"></a>
  </div>
  <div class="slide">
    <a href='{% static "PY.html" %}'><img src='{% static "photo2.jpg" %}' class="p2" alt="ur"></a>
  </div>
  <div class="slide">
    <a href='{% static "Programs.html" %}'><img src='{% static "photo3.jpg" %}' class="p3" alt="self"></a>
  </div>

</div>

<script>
  let slides = document.querySelectorAll('.slide');
  let currentSlide = 0;

  function nextSlide()
  {
    slides[currentSlide].classList.remove('active');
    currentSlide = (currentSlide + 1) % slides.length;
    slides[currentSlide].classList.add('active');
  }

  setInterval(nextSlide, 5500);
</script>

<div class="main1">
  <div class="right-text">
    <br>
    <br>
    <h1>About us</h1>
    <h3>We are the largest and most ambitious summer school in all of Europe!</h3>
    <h3>Our main and only sponsor is <a href='{% static "http://p.lodz.pl" %}'>Łódź Polytechnic</a>, from which you get nice bonuses</h3>
    <h3>You get a real and useful experience in physics, chemistry, and math from studying at our school!</h3>
    <h3>Vladislav is very good and clever I love him very much</h3>
    <h3>But Vladislav is me, so it is self-love and this is good</h3>
    <h3>This is a little boring you know, but I still need to do</h3>
    <h3>Nice rap</h3>
  </div>

  <div class="left-slide">
    <br>
    <br>
    <br>
    <br>
    <div class="slideshow1-container">
      <div class="slide1 active">
        <a href='{% static "Info.html" %}'><img src='{% static "new1.jpg" %}' class="p11" alt="shit"></a>
      </div>
      <div class="slide1">
        <a href='{% static "Info.html" %}'><img src='{% static "new2.jpg" %}' class="p21" alt="ur"></a>
      </div>
      <div class="slide1">
        <a href='{% static "Info.html" %}'><img src='{% static "new3.jpg" %}' class="p31" alt="self"></a>
      </div>
    </div>

    <div class="slideshow2-container">
      <div class="slide2 active">
        <a href='{% static "Info.html" %}'><img src='{% static "new4.jpg" %}' class="p41" alt="shit"></a>
      </div>
      <div class="slide2">
        <a href='{% static "Info.html" %}'><img src='{% static "new5.jpg" %}' class="p51" alt="ur"></a>
      </div>
      <div class="slide2">
        <a href='{% static "Info.html" %}'><img src='{% static "new6.jpg" %}' class="p61" alt="self"></a>
      </div>
    </div>

  </div>
</div>

<footer>
  <a href='{% static "index.html" %}'><img src='{% static "logo.jpg" %}' class="logo" alt="logo"></a>
  <h1>Summer school</h1>

  <div class="right-down-text1">
    <h4>vdoronchenkov@gmail.com</h4>
    <h4>245122@p.edu.lodz.pl</h4>
  </div>

  <div class="right-down-text2">
    <h4>+48 786 348 763</h4>
    <h4>+48 786 348 760</h4>
  </div>

</footer>



<script>
  let slides1 = document.querySelectorAll('.slide1');
  let currentSlide1 = 0;

  function nextSlide1()
  {
    slides1[currentSlide1].classList.remove('active');
    currentSlide1 = (currentSlide1 + 1) % slides1.length;
    slides1[currentSlide1].classList.add('active');
  }

  setInterval(nextSlide1, 5500);
</script>

<script>
  let slides2 = document.querySelectorAll('.slide2');
  let currentSlide2 = 0;

  function nextSlide2()
  {
    slides2[currentSlide2].classList.remove('active');
    currentSlide2 = (currentSlide2 + 1) % slides2.length;
    slides2[currentSlide2].classList.add('active');
  }

  setInterval(nextSlide2, 5500);
</script>


</body>

</html>