<!DOCTYPE html>
<html lang="en, pl">

<head>
    <meta charset="UTF-8">
    <title>Łetnia szkoła/InfoPL</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href='{% static "styleInfo.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
</head>

<header>
    <a href='jp'><img src='{% static "logo.jpg" %}' alt="logo"></a>
    <h1>Łetnia szkoła</h1>
    <br>

    <nav>
        <div class="button-row">
            <a href='programsPL'><button class="shitbitchdie">Programy</button></a>
            <a href='pyPL'><button class="shitbitchdie">Poprzednie</button></a>
            <a href='infoPL'><button class="shitbitchdie">Informacja</button></a>
            <a href='"https://p.lodz.pl/"'><button class="shitbitchdie">Universytet</button></a>
            <a href='otherPL'><button class="shitbitchdie">Inne</button></a>
        </div>
    </nav>

  <div class="button">
    <a href='/'><button class="shitbitchdie">EN/PL</button></a>
  </div>

  <div class="enter">
    <a href='login'><button class="shitbitchdie">Submit</button></a>
  </div>
</header>

<div class="main">

</div>

<footer>
    <a href='{% static "index2.html" %}'><img src='{% static "logo.jpg" %}' alt="logo"></a>
    <h1>Łetnia szkoła</h1>
    <div class="right-down-text">

    </div>
</footer>

<body>

</body>
</html>