<!DOCTYPE html>
<html lang="en, pl">

<head>
    <meta charset="UTF-8">
    <title>Summer school/Other</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href='{% static "styleOther.css" %}'>
</head>

<header>
  <a href='/'><img src='{% static "logo.jpg" %}' alt="logo"></a>
  <h1>Summer school</h1>
  <br>

<nav>
  <div class="button-row">
    <a href='programs'><button class="shitbitchdie">Programs</button></a>
    <a href='py'><button class="shitbitchdie">Previous</button></a>
    <a href='info'><button class="shitbitchdie">Information</button></a>
    <a href='https://p.lodz.pl/'><button class="shitbitchdie">University</button></a>
    <a href='other'><button class="shitbitchdie">Other</button></a>
  </div>
</nav>

  <div class="button">
    <a href='jp'><button class="shitbitchdie">EN/PL</button></a>
  </div>

  <div class="enter">
    <a href='login'><button class="shitbitchdie">Submit</button></a>
  </div>
</header>

<div class="main">
    <div class="right">
        <h2>Some news</h2>
        <div class="slideshow2-container">
            <div class="slide2 active">
                <a href='"https://www.severe-weather.eu/long-range-2/summer-2023-weather-forecast-update-el-nino-rising-atmosphere-pattern-shift-united-states-europe-fa/"'><img src='{% static "news1.png" %}' class="kek1" alt="shit"></a>
            </div>
            <div class="slide2">
                <a href='"https://www.tourradar.com/u/d-summer-2023-poland"'><img src='{% static "news2.jpg" %}' class="kek2" alt="ur"></a>
            </div>
            <div class="slide2">
                <a href='"https://www.calendardate.com/summer_2023.htm"'><img src='{% static "news3.jpg" %}' class="kek3" alt="self"></a>
            </div>
        </div>
        <br>
        <div class="slideshow4-container">
            <div class="slide4 active"><b>Important information about weather!</b></div>
            <div class="slide4"><b>Different interesting places!</b></div>
            <div class="slide4"><b>New and old sighs!</b></div>
        </div>

        <br>
        <h2>About Zakopane</h2>
        <div class="slideshow3-container">
            <div class="slide3 active">
                <a href='"https://zakopane.com/2017/10/basic-information/"'><img src='{% static "zak1.jpg" %}' class="zak1" alt="shit"></a>
            </div>
            <div class="slide3">
                <a href='"https://discoverzakopane.com/zakopane.html"'><img src='{% static "zak2.jpg" %}' class="zak2" alt="ur"></a>
            </div>
            <div class="slide3">
                <a href='"https://keytopoland.com/post/zakopane-11-fun-facts-to-know-before-you-visit"'><img src='{% static "zak3.jpg" %}' class="zak3" alt="self"></a>
            </div>
        </div>
        <br>
        <div class="slideshow5-container">
            <div class="slide5 active"><b>Basic information about Zakopane!</b></div>
            <div class="slide5"><b>Discover Zakopane!</b></div>
            <div class="slide5"><b>11 Fun Facts To Know Before You Visit!</b></div>
        </div>

        <br>
        <div class="slideshow6-container">
            <div class="slide6 active">
                <a href='"https://math1089.in/2021/07/21/40-interesting-facts-about-maths/"'><img src='{% static "m1.webp" %}' class="m1" alt="shit"></a>
            </div>
            <div class="slide6">
                <a href='{% static "https://academiamag.com/mind-blowing-facts-about-physics-every-student-must-know/" %}'><img src='{% static "f1.webp" %}' class="f1" alt="ur"></a>
            </div>
            <div class="slide6">
                <a href='{% static "https://www.thoughtco.com/fun-and-interesting-chemistry-facts-604321" %}'><img src='{% static "c1.webp" %}' class="c1" alt="self"></a>
            </div>
        </div>
        <br>
        <div class="slideshow7-container">
            <div class="slide7 active"><b>Fun facts about math!</b></div>
            <div class="slide7"><b>Facts about physics!</b></div>
            <div class="slide7"><b>Interesting moments in chemistry!</b></div>
        </div>
        <br>
        <div class="float">
            <br>
            <h3>Any questions?</h3>
            <div class="floattext">
                <h4>You can phone us using two different phones:</h4>
                <ul>
                    <li>+48 786 348 763</li>
                </ul>
                <ul>
                    <li>+48 786 348 760</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="left">
        <div class="lefttext">
            <h3>When will Summer School start in 2023?</h3>
            <ul>
                <li>The "Summer School" in 2023 will be held from July 6 to August 7!</li>
            </ul>
            <h3>How to get to the "Summer School"?</h3>
            <ul>
                <li>You can leave a request by phone or send a questionnaire by mail!</li>
            </ul>
            <h3>When will recruitment start?</h3>
            <ul>
                <li>You can send your applications from April 1st to May 15th!</li>
            </ul>
            <h3>Where is the Summer School located?</h3>
            <ul>
                <li>We are high in the Tatras! Dolina Chochołowska is our base! But why?</li>
                <br>
                <ol>
                    <li>World-famous mountain range!</li>
                    <li>Beautiful place, coniferous forest!</li>
                    <li>A lot of rooms: dozens of rooms, halls, offices!</li>
                    <li>Relative proximity to <b><a href='{% static "https://en.wikipedia.org/wiki/Zakopane" %}'>Zakopane</a></b> (2-3 hours drive)</li>
                    <li>Wonderful people in the village who are ready to help us develop the project!</li>
                </ol>
            </ul>
            <h3>Whose project is this? Who is behind you? Who is in charge of you?</h3>
            <ul>
                <li>We are sponsored and financed directly by the Łódź University of Technology!</li>
            </ul>
            <h3>Where does the money from education go?</h3>
            <ul>
                <li>Purchase of products!</li>
                <li>Formation of a first aid kit!</li>
                <li>Payment for electricity, water, etc!</li>
                <li>Purchase of small inventory (from a fountain pen to a fire extinguisher)</li>
                <li>Some camp preparation work (for example, anti-mite treatment)</li>
                <li>Physician fees!</li>
                <li>Provision of the kitchen (stoves, firewood, pots)</li>
                <li>Lots and lots more!</li>
                <li>Renovation of premises (there is a lot of work)</li>
                <li>Electrical wiring (I want to have a normal number of outlets in each office)</li>
                <li>Any equipment (projectors, printers, musical instruments, microscopes, telescopes, etc.)</li>
                <li>Internet quality improvement!</li>
                <li>Improvement of the state of the base!</li>
            </ul>
            <h3>What is the minimum age for a participant?</h3>
            <ul>
                <li>Basic rule: we accept people from the age of 14 or who have completed the 8th grade of school!</li>
            </ul>
            <h3>What to take to Summer School: documents</h3>
            <ul>
                <li>Passport</li>
                <li>Medical insurance policy</li>
                <li>Help form 079/y</li>
                <li>Statement from parents</li>
                <li>Agreement with parent</li>
                <li>A signed document with awareness of the rules of conduct at the "Summer School"</li>
            </ul>
            <h3>What to take to Summer School: other</h3>
            <ul>
                <li>Backpack (bags are strongly discouraged)</li>
                <li>Mugs are optional</li>
                <li>Small rucksack or bag</li>
                <li>Casual shoes</li>
                <li>Waterproof shoes </li>
                <li>Slippers</li>
                <li>Casual trousers</li>
                <li>Warm trousers</li>
                <li>Shorts</li>
                <li>Windbreaker</li>
                <li>Waterproof mackintosh</li>
                <li>Shirts and T-shirts</li>
                <li>Sweatshirts and jumpers</li>
                <li>Woollen socks</li>
                <li>Underwear</li>
                <li>Socks</li>
                <li>Warm hat</li>
                <li>Toothbrush and toothpaste</li>
                <li>Soap</li>
                <li>Hand towel</li>
                <li>Bath towel</li>
                <li>Flannel</li>
                <li>Bath-shower slippers</li>
                <li>Shampoo</li>
                <li>Small mirror (optional)</li>
                <li>Laundry soap and detergent</li>
                <li>Handkerchiefs</li>
                <li>Sunscreen (protective)</li>
                <li>Board games, books</li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <a href='{% static "index.html" %}'><img src='{% static "logo.jpg" %}' class="logo" alt="logo"></a>
    <h1>Summer school</h1>

    <div class="right-down-text1">
        <h4>vdoronchenkov@gmail.com</h4>
        <h4>245122@p.edu.lodz.pl</h4>
    </div>

    <div class="right-down-text2">
        <h4>+48 786 348 763</h4>
        <h4>+48 786 348 760</h4>
    </div>

</footer>

<script>
    let slides2 = document.querySelectorAll('.slide2');
    let currentSlide2 = 0;

    function nextSlide2()
    {
        slides2[currentSlide2].classList.remove('active');
        currentSlide2 = (currentSlide2 + 1) % slides2.length;
        slides2[currentSlide2].classList.add('active');
    }

    setInterval(nextSlide2, 5500);
</script>

<script>
    let slides3 = document.querySelectorAll('.slide3');
    let currentSlide3 = 0;

    function nextSlide3()
    {
        slides3[currentSlide3].classList.remove('active');
        currentSlide3 = (currentSlide3 + 1) % slides3.length;
        slides3[currentSlide3].classList.add('active');
    }

    setInterval(nextSlide3, 5500);
</script>

<script>
    let slides4 = document.querySelectorAll('.slide4');
    let currentSlide4 = 0;

    function nextSlide4()
    {
        slides4[currentSlide4].classList.remove('active');
        currentSlide4 = (currentSlide4 + 1) % slides4.length;
        slides4[currentSlide4].classList.add('active');
    }

    setInterval(nextSlide4, 5500);
</script>

<script>
    let slides5 = document.querySelectorAll('.slide5');
    let currentSlide5 = 0;

    function nextSlide5()
    {
        slides5[currentSlide5].classList.remove('active');
        currentSlide5 = (currentSlide5 + 1) % slides5.length;
        slides5[currentSlide5].classList.add('active');
    }

    setInterval(nextSlide5, 5500);
</script>

<script>
    let slides6 = document.querySelectorAll('.slide6');
    let currentSlide6 = 0;

    function nextSlide6()
    {
        slides6[currentSlide6].classList.remove('active');
        currentSlide6 = (currentSlide6 + 1) % slides6.length;
        slides6[currentSlide6].classList.add('active');
    }

    setInterval(nextSlide6, 5500);
</script>

<script>
    let slides7 = document.querySelectorAll('.slide7');
    let currentSlide7 = 0;

    function nextSlide7()
    {
        slides7[currentSlide7].classList.remove('active');
        currentSlide7 = (currentSlide7 + 1) % slides7.length;
        slides7[currentSlide7].classList.add('active');
    }

    setInterval(nextSlide7, 5500);
</script>


<body>

</body>
</html>