<!DOCTYPE html>
<html lang="en, pl">

<head>
    <meta charset="UTF-8">
    <title>Summer school/PY</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "stylePY.css" %}'>
</head>

<header>
  <a href='/'><img src='{% static "logo.jpg" %}' alt="logo"></a>
  <h1>Summer school</h1>
  <br>

<nav>
  <div class="button-row">
    <a href='programs'><button class="shitbitchdie">Programs</button></a>
    <a href='py'><button class="shitbitchdie">Previous</button></a>
    <a href='info'><button class="shitbitchdie">Information</button></a>
    <a href='https://p.lodz.pl/'><button class="shitbitchdie">University</button></a>
    <a href='other'><button class="shitbitchdie">Other</button></a>
  </div>
</nav>

  <div class="button">
    <a href='jp'><button class="shitbitchdie">EN/PL</button></a>
  </div>

  <div class="enter">
    <a href='login'><button class="shitbitchdie">Submit</button></a>
  </div>
</header>

<body>
<div class="main2">
    <div class="right1-text">
        <div class="text1">
            <h2>Hi, my name is Alex, and I am 17 years old</h2>
            <h4>I was at this school in 2022 in the math group</h4>
            <h4>We often went on excursions and festivals</h4>
            <h4>Overall, I greatly improved my math skills!</h4>
        </div>
        <div class="text2">
            <h2>And this is a family from Romania</h2>
            <h4>They came to us as part of an international exchange program </h4>
            <h4>The family was in a chemical group</h4>
            <h4>And they showed very good results!</h4>
        </div>
        <div class="text3">
            <h2>Good morning, I'm Martin, I'm 14 years old</h2>
            <h4>I was very worried that with the beginning of physics at school</h4>
            <h4>I would have problems with the subject</h4>
            <h4>However, after summer school, I fell in love with physics</h4>
        </div>
        <div class="text4">
            <h2>And this is a family from Ireland</h2>
            <h4>They are also international exchange students</h4>
            <h4>Naturally they were the best at English,</h4>
            <h4>But they also did well in physics!</h4>
        </div>
        <div class="text5">
            <h2>Here the kids are getting ready for English class</h2>
            <h4>We give out textbooks and notebooks for the class</h4>
            <h4>Each group is assigned separate notebooks,</h4>
            <h4>Depending on their level</h4>
        </div>
        <div class="text6">
            <h2>And this is where the kids spend their free time </h2>
            <h4>They can discuss their project or another</h4>
            <h4>We have a huge number of clubs</h4>
            <h4>Or other consultations</h4>
        </div>
        <div class="text7">
            <h2>This is where groups spend their time at the lake</h2>
            <h4>We have water polo competitions!</h4>
            <h4>Or you can just sunbathe on a clean beach</h4>
            <h4>You can also learn to swim or drown</h4>
        </div>
        <div class="text8">
            <h2>Here children frolic near their dormitories</h2>
            <h4>They are always under the scrutiny of the leaders</h4>
            <h4>Our territory is clean and absolutely safe</h4>
            <h4>So you can send your children without fear</h4>
        </div>
        <div class="text9">
            <h2>This is what the opening of our camp looks like!</h2>
            <h4>All groups gather around a large bonfire</h4>
            <h4>We introduce children to the leaders</h4>
            <h4>Next, we divide the children into their groups</h4>
        </div>
        <div class="text10">
            <h2>This is our teaching staff</h2>
            <h4>They are all qualified professionals</h4>
            <h4>Who have years of practice behind them</h4>
            <h4>And teacher experience</h4>
        </div>
        <div class="text11">
            <h2>This is our night out!</h2>
            <h4>If you like heartfelt conversations</h4>
            <h4>And you want to have an exciting time before you go to bed</h4>
            <h4>This is the right place for you!</h4>
        </div>
    </div>

    <div class="left1-slide">
        <img src='{% static "new1.jpg" %}' class="kid1" alt="die">
        <img src='{% static "new2.jpg" %}' class="kid2" alt="lol">
        <img src='{% static "new3.jpg" %}' class="kid3" alt="ehe">
        <img src='{% static "new4.jpg" %}' class="kid4" alt="pop">
        <img src='{% static "new5.jpg" %}' class="kid5" alt="ite">
        <img src='{% static "new6.jpg" %}' class="kid6" alt="ehe">
        <img src='{% static "new7.jpg" %}' class="kid7" alt="kok">
        <img src='{% static "new8.jpg" %}' class="kid8" alt="hug">
        <img src='{% static "new9.jpg" %}' class="kid9" alt="hug">
        <img src='{% static "new10.jpeg" %}' class="kid10" alt="lol">
        <img src='{% static "new11.jpg" %}' class="kid11" alt="lol">
        <div class="center">
            <h3>If you want to see more photos,</h3>
            <h3>Check our Google disk!</h3>
            <h3>If you want to share your photos from camp - </h3>
            <h3>Send it to us by mail!</h3>
        </div>
    </div>
</div>

<footer>
    <a href='{% static "index.html" %}'><img src='{% static "logo.jpg" %}' alt="logo" class="logo"></a>
    <h1>Summer school</h1>

    <div class="right-down-text1">
        <h4>vdoronchenkov@gmail.com</h4>
        <h4>245122@p.edu.lodz.pl</h4>
    </div>

    <div class="right-down-text2">
        <h4>+48 786 348 763</h4>
        <h4>+48 786 348 760</h4>
    </div>

</footer>

</body>
</html>