.left-slide
{
    float: left;
    text-align: center;
    width: 50%;
}

.slideshow1-container
{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.slide1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}
.slide1.active
{
    opacity: 1;
}

.p11
{
    margin-left: 60px;
    width: 400px;
    height: 200px;
}
.p21
{
    margin-left: 60px;
    width: 400px;
    height: 200px;
}
.p31
{
    margin-left: 60px;
    width: 400px;
    height: 200px;
}

.slideshow2-container
{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.slide2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}
.slide2.active
{
    opacity: 1;
}

.p41
{
    margin-left: 60px;
    width: 400px;
    height: 200px;
}
.p51
{
    margin-left: 60px;
    width: 400px;
    height: 200px;
}
.p61
{
    margin-left: 60px;
    width: 400px;
    height: 200px;
}