<!DOCTYPE html>
<html lang="en, pl">

<head>
    <meta charset="UTF-8">
    <title>Łetnia szkoła/InfoPL</title>
    <link rel="stylesheet" type="text/css" href="styleInfo.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<header>
    <a href="index2.html"><img src="logo.jpg" alt="logo"></a>
    <h1>Łetnia szkoła</h1>
    <br>

    <nav>
        <div class="button-row">
            <a href="ProgramsPL.html"><button class="shitbitchdie">Programy</button></a>
            <a href="PYPL.html"><button class="shitbitchdie">Poprzednie</button></a>
            <a href="InfoPL.html"><button class="shitbitchdie">Informacja</button></a>
            <a href="https://p.lodz.pl/"><button class="shitbitchdie">Uniwersytet</button></a>
            <a href="OtherPL.html"><button class="shitbitchdie">Inne</button></a>
        </div>
    </nav>

    <div class="button">
        <a href="index.html"><button class="shitbitchdie">PL\EN</button></a>
    </div>

    <div class="enter">
        <a href=""><button class="shitbitchdie">Zaloguj</button></a>
    </div>
</header>

<div class="main">

</div>

<footer>
    <a href="index2.html"><img src="logo.jpg" alt="logo"></a>
    <h1>Łetnia szkoła</h1>
    <div class="right-down-text">

    </div>
</footer>

<body>

</body>
</html>