<!DOCTYPE html>
<html lang="en, pl">

<head>
    <meta charset="UTF-8">
    <title>Summer school/Info</title>
    <link rel="stylesheet" type="text/css" href="styleInfo.css">
</head>

<header>
    <a href="index.html"><img src="logo.jpg" alt="logo"></a>
    <h1>Summer school</h1>
    <br>

    <nav>
        <div class="button-row">
            <a href="Programs.html"><button class="shitbitchdie">Programs</button></a>
            <a href="PY.html"><button class="shitbitchdie">Previous</button></a>
            <a href="Info.html"><button class="shitbitchdie">Information</button></a>
            <a href="https://p.lodz.pl/"><button class="shitbitchdie">University</button></a>
            <a href="Other.html"><button class="shitbitchdie">Other</button></a>
        </div>
    </nav>

    <div class="button">
        <a href="index2.html"><button class="shitbitchdie">EN/PL</button></a>
    </div>

    <div class="enter">
        <a href=""><button class="shitbitchdie">Submit</button></a>
    </div>
</header>

<br>
<br>
<br>
<br>
<br>

<div class="main">
    <br>
    <div class="left1-slide">
        <h2>About us</h2>
        <div class="lefttext1">
            <h3 id="history">History</h3>
            <h5>Я ЕБУ СОБАК И СРАЗУ НЕСКОЛЬКО КОТОВ</h5>
            <h5>Всегда готовб пошёл ты нахуй пидорняга</h5>
            <h5>Я ЕБУ СОБАК И СРАЗУ НЕСКОЛЬКО КОТОВ</h5>
            <h5>Всегда готовб пошёл ты нахуй пидорняга</h5>
            <h5>Я ЕБУ СОБАК И СРАЗУ НЕСКОЛЬКО КОТОВ</h5>
            <h5>Всегда готовб пошёл ты нахуй пидорняга</h5>
            <h5>Я ЕБУ СОБАК И СРАЗУ НЕСКОЛЬКО КОТОВ</h5>
            <h5>Всегда готовб пошёл ты нахуй пидорняга</h5>
            <h5>Я ЕБУ СОБАК И СРАЗУ НЕСКОЛЬКО КОТОВ</h5>
            <h5>Всегда готовб пошёл ты нахуй пидорняга</h5>
            <br>
            <br>
            <br>
            <h3 id="activity">Activity</h3>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <br>
            <br>
            <br>
            <h3 id="content">Content</h3>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <h5>БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ БЛЯТЬ</h5>
            <br>
            <br>
            <br>
            <h3 id="teacher">Teaching staff</h3>
            <ul>
                <li>One shit</li>
                <h5>He will die soon</h5>
                <li>Two shit</li>
                <h5>He will die soon</h5>
                <li>Three shit</li>
                <h5>He will die soon</h5>
                <li>Four shit</li>
                <h5>He will die soon</h5>
                <li>Five shit</li>
                <h5>He will die soon</h5>
                <li>Six shit</li>
                <h5>He will die soon</h5>
                <li>Seven shit</li>
                <h5>He will die soon</h5>
            </ul>
            <br>
            <br>
            <br>
            <h3 id="project">Project feature</h3>
            <ul>
                <li>One aaa</li>
                <h5>cancer</h5>
                <li>Two aaa</li>
                <h5>Kosovo</h5>
                <li>Three aaa</li>
                <h5>usa</h5>
                <li>Four aaa</li>
                <h5>aaaa pain</h5>
            </ul>
        </div>
    </div>
    <div class="right1-text">
        <br>
        <a href="#history">History</a>
        <br>
        <a href="#activity">Activity</a>
        <br>
        <a href="#content">Content</a>
        <br>
        <a href="#teacher">Teacher</a>
        <br>
        <a href="#project">Project</a>
    </div>
</div>

<footer>
    <a href="index.html"><img src="logo.jpg" alt="logo"></a>
    <h1>Summer school</h1>
    <div class="right-down-text">

    </div>
</footer>

<body>

</body>
</html>