<!DOCTYPE html>
<html lang="en, pl">

<head>
    <meta charset="UTF-8">
    <title>Łetnia szkoła/ProgramsPL</title>
    <link rel="stylesheet" type="text/css" href="stylePrograms.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<header>
    <a href="index2.html"><img src="logo.jpg" alt="logo"></a>
    <h1>Łetnia szkoła</h1>
    <br>

    <nav>
        <div class="button-row">
            <a href="ProgramsPL.html"><button class="shitbitchdie">Programy</button></a>
            <a href="PYPL.html"><button class="shitbitchdie">Poprzednie</button></a>
            <a href="InfoPL.html"><button class="shitbitchdie">Informacja</button></a>
            <a href="https://p.lodz.pl/"><button class="shitbitchdie">Universytet</button></a>
            <a href="OtherPL.html"><button class="shitbitchdie">Inne</button></a>
        </div>
    </nav>

    <div class="button">
        <a href="index2.html"><button class="shitbitchdie">PL/EN</button></a>
    </div>

    <div class="enter">
        <a href=""><button class="shitbitchdie">Zaloguj</button></a>
    </div>
</header>

<div class="main">
        <div class="left1-slide">
            <img src="fiz.jpeg" class="fiz" alt="die">
            <img src="math.jpg" class="mat" alt="lol">
            <img src="chem.jpg" class="chem" alt="ehe">
        </div>
        <div class="right1-text">
            <div class="fiztext">
                <h2>Fizyka</h2>
                <h3>Ja chcę umrzeć codziennie</h3>
                <h3>Nie wiem nie wiem nie wiem</h3>
                <h3>Лазь в сраного робота Синдзи</h3>
                <h3>Пошёл нахуй</h3>

                <table class="tab">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="mday">8 - 10</th>
                        <th class="mday">10 - 12 </th>
                        <th class="mday">12 - 14 </th>
                        <th class="mday">14 - 16</th>
                        <th class="mday">16 - 18 </th>
                        <th class="mday">18 - 20</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mday">Poniedziałek</td>
                        <td class="monday">Ячейка 1-2</td>
                        <td class="monday">Ячейка 1-3</td>
                        <td class="monday">Ячейка 1-4</td>
                        <td class="monday">Ячейка 1-5</td>
                        <td class="monday">Ячейка 1-6</td>
                        <td class="monday">Ячейка 1-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Wtorek</td>
                        <td class="tuesday">Ячейка 2-2</td>
                        <td class="tuesday">Ячейка 2-3</td>
                        <td class="tuesday">Ячейка 2-4</td>
                        <td class="tuesday">Ячейка 2-5</td>
                        <td class="tuesday">Ячейка 2-6</td>
                        <td class="tuesday">Ячейка 2-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Środa</td>
                        <td class="wednesday">Ячейка 3-2</td>
                        <td class="wednesday">Ячейка 3-3</td>
                        <td class="wednesday">Ячейка 3-4</td>
                        <td class="wednesday">Ячейка 3-5</td>
                        <td class="wednesday">Ячейка 3-6</td>
                        <td class="wednesday">Ячейка 3-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Czwartek</td>
                        <td class="thursday">Ячейка 4-2</td>
                        <td class="thursday">Ячейка 4-3</td>
                        <td class="thursday">Ячейка 4-4</td>
                        <td class="thursday">Ячейка 4-5</td>
                        <td class="thursday">Ячейка 4-6</td>
                        <td class="thursday">Ячейка 4-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Piątek</td>
                        <td class="friday">Ячейка 5-2</td>
                        <td class="friday">Ячейка 5-3</td>
                        <td class="friday">Ячейка 5-4</td>
                        <td class="friday">Ячейка 5-5</td>
                        <td class="friday">Ячейка 5-6</td>
                        <td class="friday">Ячейка 5-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Sobota</td>
                        <td class="saturday">Ячейка 6-2</td>
                        <td class="saturday">Ячейка 6-3</td>
                        <td class="saturday">Ячейка 6-4</td>
                        <td class="saturday">Ячейка 6-5</td>
                        <td class="saturday">Ячейка 6-6</td>
                        <td class="saturday">Ячейка 6-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Niedziela</td>
                        <td class="sunday">Ячейка 7-2</td>
                        <td class="sunday">Ячейка 7-3</td>
                        <td class="sunday">Ячейка 7-4</td>
                        <td class="sunday">Ячейка 7-5</td>
                        <td class="sunday">Ячейка 7-6</td>
                        <td class="sunday">Ячейка 7-7</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mattext">
                <h2>Matematyka</h2>
                <h3>two plus two is four minus</h3>
                <h3>one thats three quick math</h3>
                <h3>everyday on the blok</h3>
                <h3>Hope u will die uwu(</h3>

                <table class="tab">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="mday">8 - 10</th>
                        <th class="mday">10 - 12 </th>
                        <th class="mday">12 - 14 </th>
                        <th class="mday">14 - 16</th>
                        <th class="mday">16 - 18 </th>
                        <th class="mday">18 - 20</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mday">Poniedziałek</td>
                        <td class="monday">Ячейка 1-2</td>
                        <td class="monday">Ячейка 1-3</td>
                        <td class="monday">Ячейка 1-4</td>
                        <td class="monday">Ячейка 1-5</td>
                        <td class="monday">Ячейка 1-6</td>
                        <td class="monday">Ячейка 1-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Wtorek</td>
                        <td class="tuesday">Ячейка 2-2</td>
                        <td class="tuesday">Ячейка 2-3</td>
                        <td class="tuesday">Ячейка 2-4</td>
                        <td class="tuesday">Ячейка 2-5</td>
                        <td class="tuesday">Ячейка 2-6</td>
                        <td class="tuesday">Ячейка 2-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Środa</td>
                        <td class="wednesday">Ячейка 3-2</td>
                        <td class="wednesday">Ячейка 3-3</td>
                        <td class="wednesday">Ячейка 3-4</td>
                        <td class="wednesday">Ячейка 3-5</td>
                        <td class="wednesday">Ячейка 3-6</td>
                        <td class="wednesday">Ячейка 3-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Czwartek</td>
                        <td class="thursday">Ячейка 4-2</td>
                        <td class="thursday">Ячейка 4-3</td>
                        <td class="thursday">Ячейка 4-4</td>
                        <td class="thursday">Ячейка 4-5</td>
                        <td class="thursday">Ячейка 4-6</td>
                        <td class="thursday">Ячейка 4-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Piątek</td>
                        <td class="friday">Ячейка 5-2</td>
                        <td class="friday">Ячейка 5-3</td>
                        <td class="friday">Ячейка 5-4</td>
                        <td class="friday">Ячейка 5-5</td>
                        <td class="friday">Ячейка 5-6</td>
                        <td class="friday">Ячейка 5-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Sobota</td>
                        <td class="saturday">Ячейка 6-2</td>
                        <td class="saturday">Ячейка 6-3</td>
                        <td class="saturday">Ячейка 6-4</td>
                        <td class="saturday">Ячейка 6-5</td>
                        <td class="saturday">Ячейка 6-6</td>
                        <td class="saturday">Ячейка 6-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Niedziela</td>
                        <td class="sunday">Ячейка 7-2</td>
                        <td class="sunday">Ячейка 7-3</td>
                        <td class="sunday">Ячейка 7-4</td>
                        <td class="sunday">Ячейка 7-5</td>
                        <td class="sunday">Ячейка 7-6</td>
                        <td class="sunday">Ячейка 7-7</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="chemtext">
                <h2>Chemia</h2>
                <h3>Kurwa kurwa kurwa kurwa</h3>
                <h3>Dupa dupa dupa dupa</h3>
                <h3>I love Poland</h3>
                <h3>To był bład</h3>

                <table class="tab">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="mday">8 - 10</th>
                        <th class="mday">10 - 12 </th>
                        <th class="mday">12 - 14 </th>
                        <th class="mday">14 - 16</th>
                        <th class="mday">16 - 18 </th>
                        <th class="mday">18 - 20</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mday">Poniedziałek</td>
                        <td class="monday">Ячейка 1-2</td>
                        <td class="monday">Ячейка 1-3</td>
                        <td class="monday">Ячейка 1-4</td>
                        <td class="monday">Ячейка 1-5</td>
                        <td class="monday">Ячейка 1-6</td>
                        <td class="monday">Ячейка 1-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Wtorek</td>
                        <td class="tuesday">Ячейка 2-2</td>
                        <td class="tuesday">Ячейка 2-3</td>
                        <td class="tuesday">Ячейка 2-4</td>
                        <td class="tuesday">Ячейка 2-5</td>
                        <td class="tuesday">Ячейка 2-6</td>
                        <td class="tuesday">Ячейка 2-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Środa</td>
                        <td class="wednesday">Ячейка 3-2</td>
                        <td class="wednesday">Ячейка 3-3</td>
                        <td class="wednesday">Ячейка 3-4</td>
                        <td class="wednesday">Ячейка 3-5</td>
                        <td class="wednesday">Ячейка 3-6</td>
                        <td class="wednesday">Ячейка 3-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Czwartek</td>
                        <td class="thursday">Ячейка 4-2</td>
                        <td class="thursday">Ячейка 4-3</td>
                        <td class="thursday">Ячейка 4-4</td>
                        <td class="thursday">Ячейка 4-5</td>
                        <td class="thursday">Ячейка 4-6</td>
                        <td class="thursday">Ячейка 4-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Piątek</td>
                        <td class="friday">Ячейка 5-2</td>
                        <td class="friday">Ячейка 5-3</td>
                        <td class="friday">Ячейка 5-4</td>
                        <td class="friday">Ячейка 5-5</td>
                        <td class="friday">Ячейка 5-6</td>
                        <td class="friday">Ячейка 5-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Sobota</td>
                        <td class="saturday">Ячейка 6-2</td>
                        <td class="saturday">Ячейка 6-3</td>
                        <td class="saturday">Ячейка 6-4</td>
                        <td class="saturday">Ячейка 6-5</td>
                        <td class="saturday">Ячейка 6-6</td>
                        <td class="saturday">Ячейка 6-7</td>
                    </tr>
                    <tr>
                        <td class="mday">Niedziela</td>
                        <td class="sunday">Ячейка 7-2</td>
                        <td class="sunday">Ячейка 7-3</td>
                        <td class="sunday">Ячейка 7-4</td>
                        <td class="sunday">Ячейка 7-5</td>
                        <td class="sunday">Ячейка 7-6</td>
                        <td class="sunday">Ячейка 7-7</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>

<footer>
    <a href="index2.html"><img src="logo.jpg" alt="logo"></a>
    <h1>Łetnia szkoła</h1>
    <div class="right-down-text">

    </div>
</footer>

<body>

</body>
</html>