<!DOCTYPE html>
<html lang="en, pl">

<head>
    <meta charset="UTF-8">
    <title>Summer school/PY</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="stylePY.css">
</head>

<header class="header">
    <a href="index.html"><img src="logo.jpg" alt="logo"></a>
    <h1>Summer school</h1>
    <br>

    <nav>
        <div class="button-row">
            <a href="Programs.html"><button class="shitbitchdie">Programs</button></a>
            <a href="PY.html"><button class="shitbitchdie">Previous</button></a>
            <a href="Info.html"><button class="shitbitchdie">Information</button></a>
            <a href="https://p.lodz.pl/"><button class="shitbitchdie">University</button></a>
            <a href="Other.html"><button class="shitbitchdie">Other</button></a>
        </div>
    </nav>

    <div class="button">
        <a href="index2.html"><button class="shitbitchdie">EN/PL</button></a>
    </div>

    <div class="enter">
        <a href=""><button class="shitbitchdie">Submit</button></a>
    </div>
</header>

<div class="main2">
    <div class="right1-text">
        <div class="texttt">
            <h2>This bitch is Alex</h2>
            <h4>I hate him 'cause he is a little sucker</h4>
            <h4>Fking punk, plz die </h4>
            <h4>And there we should write smth else</h4>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="texttt">
            <h2>This is fking romens</h2>
            <h4>I hate those morons</h4>
            <h4>Let them just die from um</h4>
            <h4>Idk cancer or other shit</h4>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="texttt">
            <h2>Oh this is my bitches</h2>
            <h4>I think that this is a</h4>
            <h4>Typical arians, daamn</h4>
            <h4>Hate theirs mothers</h4>
        </div>
    </div>

    <div class="left1-slide">
        <img src="new1.jpg" class="kid1" alt="die">
        <img src="new2.jpg" class="kid2" alt="lol">
        <img src="new3.jpg" class="kid3" alt="ehe">
    </div>
</div>

<footer>
    <a href="index.html"><img src="logo.jpg" alt="logo"></a>
    <h1>Summer school</h1>
    <div class="right-down-text">

    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function(event)
    {
        var fadeElems = document.getElementsByClassName('texttt');
        for (var i = 0; i < fadeElems.length; i++)
        {
            fadeElems[i].style.opacity = 1;
        }
    });
</script>

<body>

</body>
</html>