body
{
    font-family: Arial, sans-serif;
    margin: 0;
}

.button-row
{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1
{
    margin: 0;
}
header img
{
    height: 50px;
    margin-right: 10px;
}
header
{
    width: 1500px;
    height: 70px;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

footer h1
{
    margin: 0;
}
footer img
{
    height: 50px;
    margin-right: 10px;
}
footer
{

    height: 70px;

    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}


.main1
{
    margin-left: 60px;
    width: 1400px;
    background-color: darkkhaki;
    height: 1000px;
}

.shitbitchdie
{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    margin: 5px 5px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, black 0%, gray 51%, black 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.shitbitchdie:hover
{
    background-position: right center;
}

.enter
{
    margin-left: auto;
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.right-down-text1
{
    margin-left: 150px;
}

.right-down-text2
{
    margin-left: 200px;
}



